* {
	margin: 0;
}

body {
	font-family: 'EB Garamond', serif;
	font-size: 16px;
	line-height: 1.5em;
	color: black;
    background-image: url("images/old_paper.jpg");
    background-repeat: none;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* HEADER CSS */

header {
	background: #533527;
	font-size: 2em;
	color: white;
	display: flex;
	width: 90vw;
	padding: 0vh 5vw;
	height: 12vh;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-size: 1.5em;
	/* line-height: 1.5em; */
	color: white;
	text-align: left;
	font-style: italic;
}

 /* The button used to open the sidebar */
 .openbtn {
	font-size: 1em;
	cursor: pointer;
	background-color: #533527;
	color: white;
	border: none;
	right: 3vw;
	border-radius: 1vh;
	width: 6vh;
	height: 6vh;
	padding: 0%;
	margin: 0%;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

  .openbtn:hover {
	background-color: white;
	color: #533527;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

/* MAIN CONTENT CSS */

main {
	overflow: auto;
	background: none;
	width: 70%;
	font-size: 1.5em;
	line-height: 5vh;
	height: 83vh; /* This plus the header (12vh) and footer (5vh) comes out to a page height of 100vh, which is a full window */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#event {
	text-align: center;
}

main article:nth-of-type(2) {
	padding-bottom: 10vh;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.choiceButton {
	font-size: 1.5em;
	text-decoration: none;
	color: black;
	font-weight: bold;
	background-color: rgba(83, 53, 39, 0.2); /* Same as the regular brown, but 80% transparent (20% remaining visible) */
	padding: 2vh;
	border-radius: 3vh;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

.choiceButton:hover {
	background-color: rgba(83, 53, 39, 1);
	color: white;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

/* SIDEBAR CSS */
.sidebar {
	height: 90vh;
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 4;
	padding-bottom: 10vh;
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
	float: right;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
  
/* The sidebar links */
.sidebar a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	padding: 4vh 0vw 4vh 2vw; 
	
}
  
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	font-size: 36px;
	margin-right: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#open {
	transition: margin-right .5s;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

/* FOOTER CSS */

footer {
	background: #533527;
	text-align: center;
	color: white;
	width: 100vw;
	position: absolute;
	bottom: 0;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#records {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.record {
	display: block;
	width: 10%;
	height: 270px;
	padding: 5em;
	background-image: url("images/poster.jpg");
	background-repeat: none;
	background-size: 100%;
	box-shadow: rgba(0,0,0,0.25) 0 5px 5px;
	border-radius: 5px;
	margin-bottom: 2%;
	position: relative;
}

.record.record-template {
	display: none;
}

.record .record-content {
	display: flex;
	align-items: flex-start;
}

.Convicts {
	top: 12.5vh;
	height: 100vh;
	overflow: scroll;
	position: fixed;
	right:5vh;
	left: 5vh
}

.Convicts h2 {
	font-size: 20px;
	font-style: bold;
}
.Convicts h3 {
	font-size: 12px;
}

