* {
	margin: 0;
}

body {
	font-family: 'EB Garamond', serif;
	font-size: 21px;
	line-height: 1.5em;
	color: black;
    background-image: url("images/old_paper.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 95vh;
}

/* HEADER CSS */

header {
	background: #533527;
	font-size: 2em;
	color: white;
	display: flex;
	width: 90vw;
	padding: 0vh 5vw;
	height: 12vh;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-size: 1.5em;
	/* line-height: 1.5em; */
	color: white;
	text-align: left;
	font-style: italic;
}

 /* The button used to open the sidebar */
 .openbtn {
	font-size: 1em;
	cursor: pointer;
	background-color: #533527;
	color: white;
	border: none;
	right: 4vw;
	border-radius: 1vh;
	width: 8vh;
	height: 9vh;
	padding: 0%;
	margin: 0%;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

  .openbtn:hover {
	background-color: white;
	color: #533527;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

/* MAIN CONTENT CSS */

main {
	overflow: auto;
	background: none;
	width: 70vw;
	font-size: 1.5em;
	line-height: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex: 1;
}

#majorHeader {
	width: 100%;
	font-size: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#choices {
	flex: 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#statusBar {
    display: flex;
	min-height: 8vh;
	width: 90vw;
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: rgba(83, 53, 39, 0.75);
	padding-top: 0;
	margin-top: 0;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	color: white;
	flex-wrap: wrap;
}

#statusBar #characterName::before {
	content: "Player Name: ";
	flex: 3;
}

#statusBar #day::before {
	content: "Day ";
	flex: 2;
}

#statusBar #savings::before {
	content: "Savings: ";
	flex: 1;
}

#statusBar #wantedValue::before {
	content: "Wanted for: ";
	flex: 1;
}

#statusBar p {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.hidden {
	display: none;
	flex: 0;
	height: 0px;
	width: 0px;
}

.hidden * {
	display: none;
	flex: 0;
	height: 0px;
	width: 0px;
}

#event {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 70vw;
}

#event img {
	height: 20vh;
	width: 20vh;
	border-radius: 3vh;
}

#event h2 {
	padding: 0.25em;
	margin: 1%;
	margin-left: 3%;
	border-radius: 1vh;
	white-space: nowrap;
	background-color: rgb(83,53,39);
	color: white;
}

#event p {
	width: 100%;
}

#event div {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	overflow: hidden;
	padding: 2%;
}

.choiceButton {
	font-size: 30px;
	text-decoration: none;
	color: black;
	width: 7em; 
	text-align: center;
	font-weight: bold;
	background-color: rgba(83, 53, 39, 0.2); /* Same as the regular brown, but 80% transparent (20% remaining visible) */
	padding: 2vh;
	border-radius: 3vh;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

.choiceButton:hover {
	background-color: rgba(83, 53, 39, 1);
	color: white;

	/* Fades when button values change, less jarring to look at */
	-webkit-transition: background-color 0.6s, color 0.6s;
  	transition: background-color 0.6s, color 0.6s;
}

.endOfDay {
	flex: 0;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
}

.purchase {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em;
	width: 100%;
}

.purchase * {
	flex: 1;
	margin: 0.25em;
	text-align: center;
	vertical-align: middle;
}

.purchase p {
	color: red;
}

.purchase p.bought {
	color: black;
}

/* SIDEBAR CSS */
.sidebar {
	height: 90vh;
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 4;
	padding-bottom: 10vh;
	right: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
	float: right;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	transition: .5s;
}
  
/* The sidebar links */
.sidebar a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.5s;
	padding: 4vh 0vw 4vh 2vw; 
	
}
  
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	font-size: 36px;
	margin-right: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.open {
	transition: .5s;
	width: 20vw;
}

@media screen and (max-width: 900px) {
	.open {
		width: 50vw;
	}

	#choices {
		flex-direction: column;
		align-items: center;
	}

	#choices a {
		margin: 2vh;
	}

	#event h2 {
		white-space: normal;
	}

}

@media screen and (max-width: 500px) {
	.open {
		width: 80vw;
		padding: 10vw;
	}
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {padding-top: 15px;}
	.sidebar a {font-size: 18px;}
}

/* FOOTER CSS */

footer {
	background: #533527;
	text-align: center;
	color: white;
	width: 100vw;
	position: absolute;
	bottom: 0;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#records {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.record {
	display: block;
	width: 10%;
	height: 270px;
	padding: 5em;
	background-image: url("images/poster.jpg");
	background-repeat: none;
	background-size: 100%;
	box-shadow: rgba(0,0,0,0.25) 0 5px 5px;
	border-radius: 5px;
	margin-bottom: 2%;
	position: relative;
}

.record.record-template {
	display: none;
}

.record .record-content {
	display: flex;
	align-items: flex-start;
}

.Convicts {
	top: 12.5vh;
	height: 100vh;
	overflow: scroll;
	position: fixed;
	right:5vh;
	left: 5vh
}

.Convicts h2 {
	font-size: 20px;
	font-style: bold;
}
.Convicts h3 {
	font-size: 12px;
}

input[type=text], textarea {
	width: 100%;
	border-color: rgb(83,53,39, 0.1);
	border-style: solid;
	border-width: 2px;
	background-color: rgb(83,53,39, 0.1);
	color: rgb(83,53,39);
}

input[type=text]:focus {
	width: 100%;
	border-radius: 15px;
	color: rgb(83,53,39);
}

#submit a {
	font-size: 20px;
	text-decoration: none;
	color: black;
	width: 7em; 
	font-weight: bold;
	background-color: rgba(83, 53, 39, 0.2); /* Same as the regular brown, but 80% transparent (20% remaining visible) */
	padding: 1vh;
	border-radius: 3vh;
}

#submit a:hover { 
	color: white;
	background-color:  rgb(83,53,39);
}

#submit a:active {
	color:  rgb(83,53,39);
}